<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".DashboardApp"
        android:allowBackup="false"
        android:usesCleartextTraffic="false"
        android:icon="@drawable/ic_dashboard"
        android:label="@string/app_name"
        android:theme="@style/Theme.DashboardTasksWidget">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".DashboardWidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="de.kardnic.dashboardtaskswidget.REFRESH" />
                <action android:name="de.kardnic.dashboardtaskswidget.AREA_ALL" />
                <action android:name="de.kardnic.dashboardtaskswidget.AREA_WORK" />
                <action android:name="de.kardnic.dashboardtaskswidget.AREA_PRIVATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/dashboard_widget_info" />
        </receiver>
    </application>
</manifest>
